@import "./colors.scss";

$neonYellow: #fe019a;

.about {
    color: $gray;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-top: 50vh !important;

    .bio_text-container {
        max-width: 40vw;
        margin-left: 100px;

        p {
            font-size: 18px;
            margin: 0;
            line-height: 30px;

            .link {
                // text-decoration: underline;
                color: $mustard;
            }

            .shake {
                display: inline-block;
                transition: all 0.2s ease-in-out;

                &:hover {
                    opacity: 0;
                    transform: scale(5) rotate(10deg);
                }
            }

            .fun {
                font-family: "Sacramento", cursive;
                font-style: italic;
                font-size: 21px;
                padding: 0px 3px;
                color: $neonYellow;
                text-shadow:
                    1px 0px 4px lighten($neonYellow, 30%),
                    0px 0px 3px $neonYellow,
                    2px 3px 15px $neonYellow,
                    2px 0px 15px,
                    5px 0px 125px,
                    20px 0vw 200px $neonYellow,
                    40px 0vw 200px $neonYellow;
                animation: flicker 3s linear infinite;
            }
        }
    }

    #name {
        white-space: nowrap;
        max-width: 100px;
        backface-visibility: hidden;
        position: absolute;
        font-family: 'Six Caps', sans-serif;
        text-transform: uppercase;
        margin: 5px 0 0 0;
        transform-origin: bottom left;
        // letter-spacing: 1px;
        color: $gray;
        font-size: 130px;

        span {
            display: inline-block;
        }

    }

    #hello {
        position: absolute;
        left: 0;
        font-family: "Sacramento", cursive;
        font-size: 2.5rem;
        margin: 0;
        transform: translateY(-240px) rotate(-6deg);
        transform-origin: bottom left;

        span {
            display: inline-block; // if you remove, enter animation wont work
        }
    }
}

$check-size: 12px;

#bio-length-form {
    width: clamp(150px, 200px, 300px);
    margin-top: 55px;

    .fieldset {
        border: none;
        padding: 0;
        padding-top: $check-size * 2; // leave the size of the radio button to the top
    }

    .legend {
        font-size: 0.8rem;
        font-variant: small-caps;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin: 0;
        padding: 0;
        text-transform: lowercase;
        font-family: 'Roboto';
        margin-bottom: 4px;

    }

    .container {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        li {
            color: lighten($gray, 0.4);
            display: inline-block;
            position: relative;

            &:first-child {

                // "shortest"
                label {
                    letter-spacing: 0.01px;
                }
            }

            input[type=radio] {
                position: absolute;
                visibility: hidden;
                width: 100%;
                height: 100%;

                &:checked {
                    ~label {
                        color: $mustard;

                        &::before {
                            border-color: $mustard;
                        }

                        &::after {
                            transform: translate(0%, 0%);
                            visibility: visible;
                        }
                    }
                }
            }

            label {
                display: block;
                position: relative;
                font-weight: 300;
                font-size: 0.8rem;
                letter-spacing: 0.2em;
                font-family: 'Roboto';
                cursor: pointer;
                transition: all 0.25s linear;

                &::before {
                    // using this as the outer radiobutton
                    content: "";
                    position: absolute;
                    height: $check-size;
                    width: $check-size;
                    background-color: transparent;
                    border: 1px solid $gray;
                    top: - (($check-size * 0.5) + $check-size);
                    left: 0px;
                    // transform: translateX(-50%);
                    border-radius: 100%;
                    transition: all 0.25s linear;

                }

                &::after {
                    // using this as the inner dot
                    content: "";
                    position: absolute;
                    background-color: $mustard;
                    top: - ($check-size + ($check-size * 0.5));
                    left: 0px;
                    width: $check-size + 2;
                    height: $check-size + 2;
                    transform: translate(0%, -100%);
                    border-radius: 100%;
                    transition: all 0.25s cubic-bezier(.68, -0.55, .27, 1.55);
                    visibility: hidden;


                }
            }
        }
    }

}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;

    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}


@media (max-width: 425px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    .about {
        flex-direction: column;
        padding-top: 45vh !important;
        #hello {
            font-size: 2rem;
            margin-top: -25px;
        }

        #name {
            margin-top: -55px;
            max-width: 100%;
            white-space: normal;
        }

        .bio_text-container {
            max-width: 80vw;
            margin-left: unset;
            margin-top: 25px;
        }
    }
}

// @import "./screens.scss";