@import "./colors.scss";

.App {
    // text-align: center;
    // display: flex;
    // justify-content: center;
    color: $lightblack;

    section {
      width: 100vw;
      padding: 25px;
      padding-left: 70px;
    }
}
