@import "./colors.scss";

.App {
  main > section {
    padding: 75px 75px 75px 14em;
    color: $darkGray;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

// .on-top {
//   z-index: 100;
//   transition: 0.5s cubic-bezier(0.670, 0.005, 0.355, 1.650) width, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) height !important;
// }

.section-title {
  font-size: 1.2rem;
  margin: 20px 0;
  font-variant: small-caps;
  position: relative;
  z-index: 2;
}

.follow__active {
  width: 75px !important;
  height: 75px !important;
}

@media (max-width:425px) {
  .App main > section {
    padding: 35px;
    padding-left: 24px;
  }

  .section-title {
    line-height: 1.2rem;
  }
}