@import "./colors.scss";

body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Bebas Neue', cursive;
  height: 100vh;
  color: $lightblack;
  // overflow-x: hidden;
  // overflow-y: auto;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  height: 100%;
  
}


