body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Bebas Neue', cursive;
  height: 100vh;
  
}

* {
  // cursor:  none;
}

#root {
  position: relative;
  height: 100%;
}


