@import "./colors.scss";

body,
html {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: $gray;
  background-color: $darkblack;

}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  color: $gray;
}

b,
strong {
  font-weight: 900;
}

a {
  &:visited {
    color: darken($gray, 0.5);
    text-decoration: none;
  }

  text-decoration: none;
  color: $gray;
}