@import "./colors.scss";

#projects {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		.project {
			margin: 0;
			color: $textGray;

			.row {
				align-items: flex-start;
			}

			&-order {
				font-size: 0.8rem;
				font-variant: small-caps;
				font-weight: 400;
				letter-spacing: 0.05em;
				margin: 0 5px 0 0;
				padding: 0;
				font-family: 'Roboto';
			}

			&-name {
				font-family: Druk;
				font-size: clamp(6rem, 8rem, 9rem);
				text-transform: uppercase;
				letter-spacing: 3px;
				margin: 0 5px 0 0;
				line-height: clamp(5rem, 7rem, 8rem);
			}

			&-slug {
				line-height: 12px;
				margin: 0;
				letter-spacing: 0px;
			}
		}
	}
}