@import "./colors.scss";

#projects {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		.project {
			margin: 0;

			.row {
				justify-content: flex-start;
			}

			&-order {
				font-size: 0.2rem;
				font-variant: small-caps;
				font-weight: 400;
				letter-spacing: 0.05em;
				margin: 0;
				padding: 0;
				text-transform: lowercase;
				font-family: 'Roboto';
				margin-bottom: 4px;
			}

			&-name {
				font-size: 2rem;
				text-transform: uppercase;
				
			}

			&-slug {}
		}
	}
}